<div class=column>
  <div class="card">
      <div class="card-content">
        <h4 class="title is-5">
          <%= customer.fullname%>
        </h4>

      <% if customer.image.present? %>
      <div class="card-image">
        <figure class="image is-128x128">
      <%= image_tag customer.image%>
        </figure>
      </div>
      <% end %>
          <p>
            <%= customer.phone%>
          </p>
      </div>
          <div class="card-content">
          <% if customer.email.empty?%>
          <br>
          <% else %>
          <p>
          <%= customer.email %>
          </p>
          <% end %>
          </div>
          <div class="card-content">
          <p>
          <%= customer.notes %>
          </p>
          </div>
  </div>
</div>
