<!DOCTYPE html>
<html>
  <head>
    <title>CRM Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
        <div class="container>">
      <h1 class="title is-1"><%= link_to 'Hello World', root_path %></h1>
    <nav class="breadcrumb is-centered is-large" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to 'All Employees', root_path%></li>
      <li><%= link_to 'All Employees (Alphabetized)',  '/customers/alphabetized'%></li>
      <li><%= link_to 'All Employees with missing email', '/customers/missing_email'%></li>
    </ul>
  </nav>
      <%= yield %>
      </div>
    </section>
  </body>
</html>
